<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
  <h4 id="scrollspyHeading1">About application</h4>
  <p>
      Это приложение помогает хранить список того, что вы хотите посмотреть. Знаю, есть такая прекрасная вещь, как заметки, но и я не программист) 
      <br/>
        
  
  </p>

</div>