<h1>Editing show</h1>

<%= render "form", show: @show %>

<br>

<div>
  <%= link_to "Back", @show, class: "btn btn-secondary"  %>
  <%= link_to "Main page", shows_path , class: "btn btn-secondary" %>
</div>
